{% extends "base.html" %}

{% block title %} {{ super() }} {{page}} {% endblock %}

{% block page_content %}
<div class="page-header dark">
    <h3>{{page}}</h3>
</div>

<div class="container">

    <div class="row">
        <div class="text-right">
            <button type="button"  class="btn btn-dark btn-sm" data-toggle="modal" data-toggle="tooltip" title="Cadastrar novo cliente." data-target="#mymodal"> Novo Cliente <i class="fas fa-plus-circle fa-lg"></i></button>
            </br>
            </br>
        </div>
    
        <div class="col md-12">           
            <div class="p-1 table-responsive">
                <table class="table table-hover table-ouline-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Tipo Cliente</th>
                        <th>UF</th>
                        <th>Nome Contato</th>
                        <th>Telefone Contato</th>
                        <th>Email Contato</th>
                        <th>Ação</th>
                    </tr>
 
                   {% for row in customers %}
                        <tr>
                            <td>{{row.id}}</td>
                            <td>{{row.name}}</td>

                            {% if row.customer_type_id == 1 %}
                                <td>Lead/Prospect</td>
                            {% elif row.customer_type_id == 2 %}
                                <td>Cliente Ativo</td>
                            {% elif row.customer_type_id == 3 %}
                                <td>Cliente VIP</td>
                            {% else %}
                                <td> -- </td>
                            {% endif %}
                            <td>{{row.state}}</td>
                            <td>{{row.contact_name}}</td>
                            <td>{{row.contact_phone}}</td>
                            <td>{{row.contact_email}}</td>
                            <td>
                                <a href="customers/update/{{row.id}}" class="btn btn-dark btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}"><i class="fas fa-pen-square fa-lg"></i></a>
                                <a href="customers/delete/{{row.id}}" class="btn btn-dark btn-xs" onclick="return confirm('Tem certeza que deseja excluir?')"><i class="fas fa-trash-alt fa-lg"></i></a>
                            </td>
                        </tr>
 
 
                <!-- Modal Editar Cliente-->
                <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                    
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Atualizar Cliente</h4>
                            </div>
                
                            <div class="modal-body">
                        
                                <form action="{{url_for('customers_update')}}" method="POST">
                    
                                    <div class="form-group">
                                        <label>CNPJ:</label>
                                        <input type="text" class="form-control" name="tax_id" value="{{row.tax_id}}">
                                    </div>
                               
                                    <div class="form-group">
                                        <label>Tipo Cliente:</label>
                                        <select name="customer_type_id">
                                            {% for item in customer_types %}
                                                <option value="{{item[0]}}" {% if item[0] == row.customer_type_id %} selected {% endif %}>{{item[1]}}</option>                                           
                                            {% endfor %}      
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Nome Empresa Cliente:</label>
                                        <input type="hidden"  name="id" value="{{row.id}}">
                                        <input type="text" class="form-control" name="name" value="{{row.name}}">
                                    </div>

                                    <div class="form-group">
                                        <label>Nome do Contato:</label>
                                        <input type="text" class="form-control" name="contact_name" value="{{row.contact_name}}">
                                    </div>
                        
                                    <div class="form-group">
                                        <label>Telefone do Contato:</label>
                                        <input type="text" class="form-control" name="contact_phone" value="{{row.contact_phone}}">
                                    </div>

                                    <div class="form-group">
                                        <label>Email do Contato:</label>
                                        <input type="email" class="form-control" name="contact_email" value="{{row.contact_email}}">
                                    </div>

                                    <div class="form-group">
                                        <label>CEP:</label>
                                        <input type="text" class="form-control" name="postal_code" value="{{row.postal_code}}">
                                    </div>

                                    <div class="form-group">
                                        <label>Endereço (Rua/Rodovia e Bairro.):</label>
                                        <input type="text" class="form-control" name="address_line1" value="{{row.address_line1}}">
                                    </div>

                                     <div class="form-group">
                                        <label>Número:</label>
                                        <input type="text" class="form-control" name="number" value="{{row.number}}">
                                    </div>

                                    <div class="form-group">
                                        <label>Endereço (complemento):</label>
                                        <input type="text" class="form-control" name="address_line2" value="{{row.address_line2}}">
                                    </div>

                                    <div class="form-group">
                                        <label>Cidade:</label>
                                        <input type="text" class="form-control" name="city" value="{{row.city}}">
                                    </div>

                                    <div class="form-group">
                                        <label>UF:</label>
                                        <select name="state">
                                            {% for item in states %}         
                                                <option value="{{item[0]}}" {% if item[0] == row.state %} selected {% endif %}>{{item[1]}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <button class="btn btn-dark btn-sm" type="submit">Salvar <i class="fas fa-save fa-lg"></i></button>   
                                    </div>
                                </form>
                            </div>
                    
                    
                            <div class="modal-footer">
                                <button type="button" data-toggle="tooltip" data-placement="bottom" title="Fechar janela." class="close" data-dismiss="modal">&times;</button>
                            </div>    
                        </div>
                    </div>
                </div>
                {% endfor %}
                </table>
            </div>
 
            <!-- Modal Novo Cliente-->
            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Novo Cliente</h4>
                        </div>

                        <div class="modal-body">
                            <form action="{{url_for('customers_insert')}}" method="POST">
                                
                                <div class="form-group">
                                    <label>CNPJ:</label>
                                    <input type="text" class="form-control" name="tax_id" >
                                </div>                    
            
                                <div class="form-group">
                                    <label>Tipo Cliente:</label>
                                    <select name="customer_type_id">
                                        {% for item in customer_types %}                      
                                            <option value="{{item[0]}}">{{item[1]}}</option>                                          
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Nome Empresa Cliente:</label>
                                    <input type="text" class="form-control" name="name" required="1">
                                </div>

                                <div class="form-group">
                                    <label>Nome do Contato:</label>
                                    <input type="text" class="form-control" name="contact_name" required="1">
                                </div>

                                <div class="form-group"> 
                                    <label>Telefone do Contato:</label>
                                    <input type="text" class="form-control" name="contact_phone" required="1">
                                </div>

                                <div class="form-group"> 
                                    <label>Email do Contato:</label>
                                    <input type="email" class="form-control" name="contact_email">
                                </div>

                                <div class="form-group"> 
                                    <label>CEP:</label>
                                    <input type="text" class="form-control" name="postal_code">
                                </div>

                                <div class="form-group"> 
                                    <label>Endereço (Rua/Rodovia e Bairro.):</label>
                                    <input type="text" class="form-control" name="address_line1">
                                </div>

                                <div class="form-group"> 
                                    <label>Número:</label>
                                    <input type="text" class="form-control" name="number">
                                </div>

                                <div class="form-group"> 
                                    <label>Endereço (complemento):</label>
                                    <input type="text" class="form-control" name="address_line2">
                                </div>

                                <div class="form-group"> 
                                    <label>Cidade:</label>
                                    <input type="text" class="form-control" name="city">
                                </div>

                                 <div class="form-group">
                                        <label>UF:</label>
                                         <select name="state">
                                            {% for item in states %}
                                                <option value="{{item[0]}}">{{item[1]}}</option>
                                            {% endfor %}
                                        </select>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-dark btn-sm" type="submit">Salvar <i class="fas fa-save fa-lg"></i></button> 
                                </div>
                            </form>
                        </div>
            
                        <div class="modal-footer">
                            <button type="button" data-toggle="tooltip" data-placement="bottom" title="Fechar janela." class="close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}