{% extends "public.html" %}

{% block title %} {{ super() }} {{ page }} {% endblock%}
{% block head %}
    {{ super() }}
    <style>
    </style>
{% endblock%}

{% block page_content %}

<div class="page-header dark">
    <h3>{{page}}</h3>
</div>

<div class="container">
    <h2>Login</h2>
    <form class="form-horizontal" action="/login" method="POST">
    {{ LoginForm.csrf_token }}
        <div class="form-group">
        <div class="col-sm-9">
            {% if LoginForm.email.errors %}
                <ul class="errors">{% for error in LoginForm.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
            {{ LoginForm.email(class="form-control", placeholder="Endereço de Email" )}}
        </div>
        </div>
        <div class="form-group">
        <div class="col-sm-9">
            {% if LoginForm.password.errors %}
                <ul class="errors">{% for error in LoginForm.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            {{ LoginForm.password(class="form-control", placeholder="Senha" )}}
        </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9">
            <span>{{ LoginForm.remember_me()}} Manter-me logado</span>
            </div>
            </div>
        <div class="form-group">
        <div class="col-sm-9">
            {{ LoginForm.submit(class="btn btn-primary btn-block")}}
        </div>
        </div>
    </form>  
</div>
{% endblock%}