{% extends "base.html" %}

{% block title %} {{ super() }} {{page}} {% endblock %}

{% block page_content %}
<div class="page-header dark">
    <h3>{{page}}</h3>
</div>

<div class="container">

    <div class="row">
        <div class="text-right">
            <button type="button"  class="btn btn-dark btn-sm" data-toggle="modal" data-toggle="tooltip" title="Cadastrar novo produto." data-target="#mymodal"> Novo Produto <i class="fas fa-plus-circle fa-lg"></i></button>
            </br>
            </br>
        </div>
    
        
        <div class="col md-12">           
            <div class="p-1 table-responsive">
                <table class="table table-hover table-ouline-dark">
                    
                     <tr>
                        <th>ID</th>
                        <th>Code</th>
                        <th>Nome</th>
                        <th>Link</th>
                        <th>Categoria Produto</th>
                        <th>Ação</th>
                    </tr>
 
                    {% for row in products %}
                        <tr>
                            <td>{{row.id}}</td>
                            <td>{{row.code}}</td>
                            <td>{{row.name}}</td>
                            <td>{{row.html_link}}</td>
                            <td>{{row.group_name_short}}</td>                       
                            <td>
                                <a href="products/update/{{row.id}}" class="btn btn-dark btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}"><i class="fas fa-pen-square fa-lg"></i></a>
                                <a href="products/delete/{{row.id}}" class="btn btn-dark btn-xs" onclick="return confirm('Tem certeza que deseja excluir?')"><i class="fas fa-trash-alt fa-lg"></i></a>
                            </td>
                        </tr>
 
                        <!-- Modal Editar Produto-->
                        <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                            
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Atualizar Produto</h4>
                                    </div>
                        
                                    <div class="modal-body">
                                
                                        <form action="{{url_for('products_update')}}" method="POST">
                            
                                            <div class="form-group">
                                                <label>Código:</label>
                                                <input type="text" class="form-control" name="code" value="{{row.code}}">
                                            </div>

                                            <div class="form-group">
                                                <label>Nome Produto:</label>
                                                <input type="hidden"  name="id" value="{{row.id}}">
                                                <input type="text" class="form-control" name="name" value="{{row.name}}">
                                            </div>

                                            <div class="form-group">
                                                <label>Descrição:</label>
                                                <input type="text" class="form-control" name="info" value="{{row.info}}">
                                            </div>
                                
                                            <div class="form-group">
                                                <label>Página do Produto:</label>
                                                <input type="text" class="form-control" name="html_link" value="{{row.html_link}}">
                                            </div>

                                            <div class="form-group">
                                                <label>Categoria (nome curto para relatórios):</label>
                                                <input type="text" class="form-control" name="group_name_short" value="{{row.group_name_short}}">
                                            </div>

                                            <div class="form-group">
                                                <label>Categoria (nome longo):</label>
                                                <input type="text" class="form-control" name="group_name_long" value="{{row.group_name_long}}">
                                            </div>
                                
                                            <div class="form-group">
                                                <button class="btn btn-dark btn-sm" type="submit">Salvar <i class="fas fa-save fa-lg"></i></button>   
                                            </div>
                                        </form>
                                    </div>
                            
                                    <div class="modal-footer">
                                        <button type="button" data-toggle="tooltip" data-placement="bottom" title="Fechar janela." class="close" data-dismiss="modal">&times;</button>
                                    </div>    
                                </div>
                            </div>
                        </div>
                {% endfor %}
                </table>
            </div>
 
            <!-- Modal Novo Produto-->
            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Novo Produto</h4>
                        </div>

                        <div class="modal-body">
                            <form action="{{url_for('products_insert')}}" method="POST">
                                <div class="form-group">
                                   <label>Código:</label>
                                    <input type="text" class="form-control" name="code">
                                </div>

                                <div class="form-group">
                                    <label>Nome Produto:</label>
                                    <input type="text" class="form-control" name="name" required="1">
                                </div>

                                <div class="form-group">
                                    <label>Descrição:</label>
                                    <input type="text" class="form-control" name="info" required="1">
                                </div>
                    
                                <div class="form-group">
                                    <label>Página do Produto:</label>
                                    <input type="text" class="form-control" name="html_link">
                                </div>

                                <div class="form-group">
                                    <label>Categoria (nome curto para relatórios):</label>
                                    <input type="text" class="form-control" name="group_name_short" required="1">
                                </div>

                                 <div class="form-group">
                                    <label>Categoria (nome longo):</label>
                                    <input type="text" class="form-control" name="group_name_long" required="1">
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-dark btn-sm" type="submit">Salvar <i class="fas fa-save fa-lg"></i></button> 
                                </div>
                            </form>
                        </div>
            
                        <div class="modal-footer">
                            <button type="button" data-toggle="tooltip" data-placement="bottom" title="Fechar janela." class="close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>

{% endblock %}