{% extends "base.html" %}

{% block title %} {{ super() }} {{page}} {% endblock %}

{% block page_content %}
<div class="page-header dark">
    <h3><i class="fas fa-chart-line"></i> {{page}}</h3>
</div>


<div class="container">
    <div class="row">
        <nav class="col-sm-3">
            <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="100">
                <li><a href="/reports/tickets/customer">Top Chamados Cliente </a></li>
                <li><a href="/reports/tickets/partner">Top Chamados Parceiro</a></li>
                <li><a href="/reports/tickets/product">Top Chamados Produto</a></li>
                <li><a href="/reports/activities/salesperson">Top Ativides Vendedor </a></li>
                <li><a href="/reports/activities/customer">Top Atividades Cliente</a></li>
                <li><a href="/reports/activities/product">Top Atividades Produto</a></li>
            </ul>
        </nav>
        <div class="col-sm-9">   
            <div class="container">
                <div class="row">

                    <div class="col md-3">           
                        <div class="p-1 table-responsive">
                            <table class="table rpt table-hover table-ouline-dark">
                                <tr>
                                    <th>Id</th>
                                    <th>{{report_head_name}}</th>
                                    <th>Total de {{report_type_name}}</th>
                                </tr>
                            {%for id_item, total in report_set %}
                                    <tr>
                                        <td>{{id_item}}</td>
                                        <td>
                                            {%for r in report_list %}
                                                {% if r[0] == id_item %}
                                                    {{r[1]}}
                                                {% endif %}
                                            {%endfor%}
                                        </td>
                                        <td>{{total}}</td>
                                    </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                </div> 
            </div>  
        </div>
    </div>
</div>
{% endblock %}