{% extends "base.html" %}

{% block title %} {{ super() }} {{page}} {% endblock %}

{% block page_content %}
<div class="page-header dark">
    <h3>{{page}}</h3>
</div>

<div class="container">

    <div class="row">
        <div class="text-right">
            <button type="button"  class="btn btn-dark btn-sm" data-toggle="modal" data-toggle="tooltip" title="Cadastrar novo Membro Equipe de Vendas." data-target="#mymodal"> Novo Membro Equipe de Vendas <i class="fas fa-plus-circle fa-lg"></i></button>
            </br>
            </br>
        </div>
    
        
        <div class="col md-12">           
            <div class="p-1 table-responsive">
                <table class="table table-hover table-ouline-dark">  
                    <tr>
                        <th>ID</th>
                        <th>Nome do Vendedor</th>
                        <th>Tefefone</th>
                        <th>E-mail</th>
                        <th>Ação</th>
                    </tr>
 
                    {% for row in salesteam %}
                        <tr>
                            <td>{{row.id}}</td>
                            <td>{{row.name}}</td>
                            <td>{{row.phone}}</td>
                            <td>{{row.email}}</td>                       
                            <td>
                                <a href="salesperson/update/{{row.id}}" class="btn btn-dark btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}"><i class="fas fa-pen-square fa-lg"></i></a>
                                <a href="salesperson/delete/{{row.id}}" class="btn btn-dark btn-xs" onclick="return confirm('Tem certeza que deseja excluir?')"><i class="fas fa-trash-alt fa-lg"></i></a>
                            </td>
                        </tr>
 
                        <!-- Modal Editar Membro Equipe de Vendas-->
                        <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                            
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Atualizar Equipe de Vendas</h4>
                                    </div>
                        
                                    <div class="modal-body">
                                        <form action="{{url_for('sales_person_update')}}" method="POST">
                                            <div class="form-group">
                                                <label>Nome Vendedor:</label>
                                                <input type="hidden"  name="id" value="{{row.id}}">
                                                <input type="text" class="form-control" name="name" value="{{row.name}}" required="1">
                                            </div>

                                            <div class="form-group">
                                                <label>Telefone:</label>
                                                <input type="text" class="form-control" name="phone" value="{{row.phone}}" required="1">
                                            </div>
                                
                                            <div class="form-group">
                                                <label>Email:</label>
                                                <input type="email" class="form-control" name="email" value="{{row.email}}" required="1">
                                            </div>

                                            <div class="form-group">
                                                <button class="btn btn-dark btn-sm" type="submit">Salvar <i class="fas fa-save fa-lg"></i></button>   
                                            </div>
                                        </form>
                                    </div>
                            
                                    <div class="modal-footer">
                                        <button type="button" data-toggle="tooltip" data-placement="bottom" title="Fechar janela." class="close" data-dismiss="modal">&times;</button>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </table>
            </div>
 
            <!-- Modal Novo Vendedor-->
            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Novo Membro Equipe de Vendas</h4>
                        </div>

                        <div class="modal-body">
                            <form action="{{url_for('sales_person_insert')}}" method="POST">
                                <div class="form-group">
                                    <label>Nome Vendedor:</label>
                                    <input type="text" class="form-control" name="name" required="1">
                                </div>

                                <div class="form-group">
                                    <label>Telefone:</label>
                                    <input type="text" class="form-control" name="phone" required="1">
                                </div>
                                
                                <div class="form-group">
                                    <label>Email:</label>
                                    <input type="email" class="form-control" name="email" required="1">
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-dark btn-sm" type="submit">Salvar <i class="fas fa-save fa-lg"></i></button> 
                                </div>
                            </form>
                        </div>
            
                        <div class="modal-footer">
                            <button type="button" data-toggle="tooltip" data-placement="bottom" title="Fechar janela." class="close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>

{% endblock %}