<!-- importa template base do boostrap 
{% extends "bootstrap/base.html" %} -->

<!-- bloco de titulo -->
{% block title %} eVND - {% endblock %}

<!-- menu topo -->
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> 
            <a data-toggle="tooltip" data-placement="top" class="navbar-brand" href="/">
                <img class="logo navbar-brand img-responsive"  title="Pagina Inicial"  src="{{ url_for('static', filename='logo_small.png') }}">
            </a>
        </div>
        
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="evnd"><a title="Clientes" href="/customers"><i class="fas fa-users"></i> Clientes</a></li>
                <li class="evnd"><a title="Parceiros" href="/partners"><i class="fas fa-hands-helping"></i> Parceiros</a></li>
                <li class="evnd"><a title="Produtos" href="/products"><i class="fas fa-tags"></i> Produtos</a></li>
                <li class="evnd"><a title="Equipe" href="/sales-person"><i class="fas fa-user-ninja"></i> Equipe</a></li>
                <li class="evnd"><a title="Atividades" href="/activities"><i class="fas fa-truck-monster"></i> Atividades <span title="Atividades pendentes" class="pop badge badge-dark">{{session.get('count_activities')}}</span></a></li>
                <li class="evnd"><a title="Chamados" href="/service-tickets"><i class="fas fa-ambulance"></i> Chamados <span title="Chamados pendentes" class="pop badge badge-light">{{session.get('count_service_tickets')}}</span></a></li>
                <li class="evnd"><a title="Relários" href="/reports/tickets/customer"><i class="fas fa-chart-line"></i> Relatórios</a></li>
                <li class="evnd"><a title="Usuários" href="/users"><i class="fas fa-user-cog"></i></a></li>
                <li class="evnd"><a href="#"><div title="Usuário logado" class="evnd badge badge-dark">{{session.get('user_name')}}</div></a></li>
                <li class="evnd"><a href="{{ url_for('logout')}}"><i title="Logout" class="fas fa-sign-out-alt"></i></a></li>
            </ul>
        </div>
    </div> 
</div> 
{% endblock %}

<!-- Block that is responsible for displaying status and action result messages -->
{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% block page_content %} {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.locale('pt')}}
{{ datepicker.loader(theme="base") }} {# to load jQuery-ui #}
{{ datepicker.picker(id=".dp", dateFormat="d/m/yy") }}
{% endblock %}
