<!-- importa template base do boostrap 
{% extends "bootstrap/base.html" %} -->

<!-- bloco de titulo -->
{% block title %} eVND - {% endblock %}

<!-- menu topo -->
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> 
            <a data-toggle="tooltip" data-placement="top" class="navbar-brand" href="/">
                <img class="navbar-brand img-responsive"  title="Pagina Inicial" style="height:80px; margin-top:-25px; width: auto; margin-left:0px" src="{{ url_for('static', filename='logo_small.png') }}">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/customers">Clientes</a></li>
                <li><a href="/products">Produtos</a></li>
                <li><a href="/activities">Atividades</a></li>
                <li><a href="/sales-person">Equipe</a></li>
                <li><a href="/partners">Parceiros</a></li>
                <li><a href="/service-tickets">Chamados</a></li>
                <li><a href="/menu/Relatorios">Relatorios</a></li>

            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout')}}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login')}}">Login</a></li>
            {% endif %}
            </ul>
        </div>
    </div> 
</div>  
{% endblock %}

<!-- Block that is responsible for displaying status and action result messages -->
{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %} {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
