<!-- importa template base do boostrap 
{% extends "bootstrap/base.html" %} -->

<!-- bloco de titulo -->
{% block title %} eVND - {% endblock %}

<!-- menu topo -->
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a data-toggle="tooltip" data-placement="bottom" title="Pagina Inicial" class="navbar-brand" href="/">eVND</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/customers">Clientes</a></li>
                <li><a href="/products">Produtos</a></li>
                <li><a href="/menu/Atividades">Atividades</a></li>
                <li><a href="/menu/Equipe">Equipe</a></li>
                <li><a href="/menu/Parceiros">Parceiros</a></li>
                <li><a href="/menu/Assistencia">Assitencia Tecnica</a></li>
                <li><a href="/menu/Relatorios">Relatorios</a></li>
                <li><a href="/menu/Login">Login</a></li>
            </ul>
        </div>
    </div> 
</div>  
{% endblock %}

<!-- bloco de conteudo -->
{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %} {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
